@page
@model CRWBookStore.Views.Account.AdminPageModel
@{ }


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <img src="https://static.vecteezy.com/system/resources/previews/000/691/409/original/bookshelf-in-library-vector.jpg" width="1240" height="640">

    <div class="clearfix"> </div>
    <!-- //Modal1 -->
    <div class="w3-agile-services">
        <div class="container">
            <h3 class="title-txt"><span>W</span>elcome to <span>A</span>dminPanel</h3>
            <div class="agileits-services">
                <div class="services-right-grids">
                    <table class="table" cellpadding="8">
                        <tr>
                            <td>
                                <a class="nav-link text-dark" asp-area="" asp-controller="addcategory" asp-action="AddCategory">Add Category</a>
                                <a href="addcategory.cshtml">Add Category</a>
                            </td>
                            <td>
                                <a href="subcategory.aspx">Add Subcategory</a>
                            </td>
                            <td>
                                <a href="product.aspx">Add Product</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="udcat.aspx">Update Category</a>
                            </td>
                            <td>
                                <a href="udsubcat.aspx">Update Subcategory</a>
                            </td>
                            <td>
                                <a href="udbook.aspx">Update Product</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</asp:Content>
