

    <style>
        label {
            text-align: right;
            clear: both;
            float: left;
            margin-right: 15px;
        }
    </style>




    @*
        For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
    @{
        ViewData["Title"] = "addBook";
    }



    <div>
        <img src="https://th.bing.com/th/id/R.fdf78ae25307cc1d9d4763cda2d72c6c?rik=Tbqs307SStNzoQ&riu=http%3a%2f%2fwww.thejainbrothers.com%2fwp-content%2fuploads%2f2017%2f03%2fbooks-library-banner.jpg&ehk=zFLrR82cOpPdFQkf4CA8WJt4HlEVxR6OSskCri3FZQA%3d&risl=&pid=ImgRaw&r=0" width="1240" height="340">
    </div>

    <!-- contact -->
    <section class="contact">
        <div class="container">
            <h3 class="title-txt"><span>A</span>dd <span>B</span>ook</h3>
            <div class="contact-grids" style="float:right">
                <div class="col-md-6 contact-form">

                    <input name="ctl00$ContentPlaceHolder1$TextBox1" type="text" id="ContentPlaceHolder1_TextBox1" placeholder="Title" required="">

                    <input name="ctl00$ContentPlaceHolder1$TextBox1" type="text" id="ContentPlaceHolder1_TextBox1" placeholder="Publish ID" required="">

                    <input name="ctl00$ContentPlaceHolder1$TextBox1" type="text" id="ContentPlaceHolder1_TextBox1" placeholder="Number of Page" required="">

                    <input name="ctl00$ContentPlaceHolder1$TextBox1" type="text" id="ContentPlaceHolder1_TextBox1" placeholder="Language ID" required="">

                    <input name="AddISBN13" type="text" id="AddISBN13" placeholder="ISBN 13" required="">

                    <input name="addPublication_data" type="text" id="addPublication_data" placeholder="Publication_data" required="">

                    <input name="addPrice" type="text" id="addPrice" placeholder="Price" required="">

                    <label>Image:</label>
                    <input type="file" name="ctl00$ContentPlaceHolder1$FileUpload1" id="ContentPlaceHolder1_FileUpload1">

                    <div class="submit1">
                        <input type="submit" name="ctl00$ContentPlaceHolder1$Button1" value="Add" id="ContentPlaceHolder1_Button1">
                    </div>
                    <label><span id="ContentPlaceHolder1_Label1"></span></label>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>
    </section>


    <div>
        <h3 class="title-txt"><span>E</span>dit <span>B</span>ook</h3>
        <hr />
       

